mixin menu(options = {})
    -
        const { groups, title = "" } = options;
    aside.menu.menu_state_hidden#menu
        .menu__header
            .menu__header-title= title
            button.menu__close-button
        .menu__body
            for group in groups
                .menu__group
                    .menu__group-title= group.title
                    for item in group.items
                        - const { size = 'normal' } = item;
                        .menu__element(class="" + ("menu__element_size_" + size))= item.title
                            a.menu__element-link(href=item.href rel="noopener nooferer" target="_blank")
                                img.menu__element-image(src=item.image.src alt=item.image.alt)